html{
    --headerColor: white;
    --headerBgColor: black;
}

* {
    margin: 0;
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerColor);
    padding: 4rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: var(--headerColor); 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

ul li:last-child{
    background-color: blue;
    padding: 0.8rem;
}